/* ----------------------------Page footer---------------------------- */

.footer {
    background-color: $footer-bg-color;
    
    padding-top: 60px;
    padding-bottom: 60px;

    display: flex;
    align-items: center;
}

.footer__container {
    @extend %container;
    display: flex;
}

.requisites {
    display: block;
}

.logo__text--inverse {
    color: $white-text-color;
}

.requisites__adress {
    margin-top: 20px;
}

.requisites__list {
    @extend %list;
}

.requisites__item {
    margin-top: 0px;
    margin-bottom: 9px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.requisites__location {
    color: $white-text-color;

    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @extend %link;

    &:hover, &:focus {
        color: $accent-color;
    }
}

.requisites__contact {
    color: $alt-text-color;

    font-size: 14px;
    line-height: 1.7;
    font-style: normal;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @extend %link;

    &:hover, &:focus {
        color: $accent-color;
    }
}

/* -------------------------------------------------------- */

.social {
    margin-left: 70px;
    margin-top: 10px;
}

.social__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white-text-color;

    margin-left: 5px;
}

.social__list {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;

    @extend %list;
}

.social__link {
    display: flex;
    width: 44px;
    height: 44px;

    fill: $white-text-color;
    background-color: $icon-color;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;

    border-radius: 50%;
    background-position: 50% 50%;

    align-items: center;
    justify-content: center;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus, &:hover {
        background-color: $accent-color;
    }
}

/* -------------------------------------------------------- */

.mailing {
    display: block;

    margin-top: 10px;
    margin-left: 93px;
}

.mailing__lable {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-text-color;
}

.mailing__input-btn {
    display: flex;
    margin-top: 20px;

    position: relative;

    outline: none;
}

.mailing__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

    border: 1px solid $alt-border-color;
    filter: drop-shadow(0px 4px 4px $shadow-color);
    border-radius: 4px;

    color: $white-text-color;
    background-color: #2F303A;
    outline: none;

    &:focus-visible {
        border-color: $accent-color;
    }
}

.mailing__btn {
    cursor: pointer;
    background: $accent-color;
    box-shadow: 0px 4px 4px $shadow-color;
    border-radius: 4px;
    border: none;

    text-align: center;

    padding-right: 28px;
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    color: $white-text-color;

    &:focus, &:hover {      
        background: $hover-btn;
    }
}

.mailing__icon {
    position: absolute;
    top: 13px;
    right: 28px;

    width: 24px;
    height: 24px;
}