/* ----------------------------Page header---------------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    min-height: 80px;

    background-color: $head-bg-color;
    border-bottom: 1px solid $border-head-color;
}

.header__container {
    @extend %container;
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
}

.logo {
    @extend %link;
    color: $accent-color;

    font-family: 'raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;

    margin-right: 93px;
}

.logo__text {
    color: $primary-logo-color;
}

.site-nav {
    @extend %list;
    display: flex;
}

.site-nav__item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0px;
    }
}

.site-nav__link {
    @extend %link;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.1;

    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: $accent-color;
    }
}

.site-nav__link--current {
    color: $accent-color;

    &::after {
        content: '';
        position: relative;
        top: 32px;
        display: block;
        width: 100%;
        height: 4px;

        background-color: $accent-color;
        border-radius: 2px;
    }
}

.list-contact {
    @extend %list;
    display: flex;
    margin-left: auto;

}

.list-contact__item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0px;
    }
}

.list-contact__link {
    @extend %link;
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    align-items: center;
    display: flex;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.list-contact__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        fill: $accent-color;
    }
}