/* --------------------------------Work-------------------------------- */
.work {
    @extend %section, %reset-padding-top;
}

.work__container {
    @extend %container;
}

.work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;

    margin: 0px;
    text-align: center;
}

.work__list {
    display: flex;
    @extend %list;
}

.work__item {
    padding-top: 50px;
    padding-bottom: 0px;
    margin-right: 30px;

    position: relative;
    z-index: -1;

    &:last-child {
        margin-right: 0px;
    }

    &::before {
        content: '';
        width: 370px;
        height: 70px;

        background-color: $bg-lable-color;

        position: absolute;
        bottom: 0;
    }
}

.work__list-description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white-text-color;

    position: absolute;
    bottom: 27px;
    left: 50%;
    translate: -50%;

    @extend %list;
}