/* --------------------------------------modal--------------------------- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $backdrop-color;

    opacity: 1;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

/* ------------------------------------------------------------------------- */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    min-width: 528px;
    min-height: 581px;

    background: $white-text-color;
    box-shadow: 0px 1px 3px $alt-shadow-color, 0px 1px 1px $secondary-shadow-color, 0px 2px 1px $third-shadow-color;
    border-radius: 4px;

    align-items: center;
    justify-content: center;

    transform: scale(1);


    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.is-hidden & {
        transform: scale(0.9);
    }
}

.modal__btn-close {
    display: flex;
    width: 30px;
    height: 30px;

    margin-right: 8px;
    margin-top: 8px;
    margin-left: auto;
    margin-bottom: auto;

    border-radius: 50%;
    background: $whi;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    align-items: center;
    justify-content: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus, &:hover {
        color: $hover-btn;
    }
}

.modal__icon-close {
    fill: currentColor;
}

.modal__title {
    margin-top: 2px;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: $primary-text-color;
}

.modal__form {
    width: 528px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.modal__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;

    &:nth-child(4) {
        margin-bottom: 0px;
    }
}

.modal__lable {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $secondary-text-color;

    margin: 0;
    padding: 0;

    text-align: start;
}

.modal__input {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;

    width: 448px;
    height: 40px;

    border: 1px solid $third-border-color;
    border-radius: 4px;

    cursor: pointer;
    outline: none;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .modal__input-hover:focus-within & {
        border-color: $hover-btn;
    }
    
}

.modal__icon {
    position: absolute;
    top: 50%;
    left: 14px;

    width: 18px;
    height: 18px;
    
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .modal__input-hover:focus-within & {
        fill: $hover-btn;
    }
}

.modal__comment {
    margin: 0;
    padding: 12px 16px;
    width: 448px;
    height: 120px;

    border: 1px solid $third-border-color;
    border-radius: 4px;
    cursor: pointer;
    outline: none;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus-visible {   
        border-color: $hover-btn;
    }
}

.agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    margin-top: 28px;
    margin-bottom: 0px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $secondary-text-color;

    cursor: pointer;
}

.agreement__input {
    appearance: none;
    position: absolute;
}

.agreement__checkbox-icon {
    display: inline-block;

    margin-right: 7px;
    width: 16px;
    height: 15px;

    border: 2px solid $primary-text-color;
    border-radius: 4px;

    transition-property: border-color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .agreement__input:checked+ & {
        border-color: $accent-color;
        background-color: $accent-color;
    }
}

.agreement__check-icon {
    position: absolute;
    left: 21px;
}

.agreement__link {
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: $accent-color;

    margin-left: 7px;
}

.modal__btn-send {
    width: 200px;
    height: 50px;
    margin-top: 40px;

    background: $accent-color;
    box-shadow: 0px 4px 4px $shadow-color;
    border-radius: 4px;
    border: none;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $white-text-color;

    cursor: pointer;

    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus, &:hover {
        background: $hover-btn;
    }
}