/* ---------------------------Examples---------------------- */
.examples {
    @extend %section, %reset-padding-top;
}

.examples__container {
    @extend %container;
}

.examples__title {
    @extend %visually-hidden;
}

.examples__list {
    display: flex;
    flex-wrap: wrap;

    @extend %list
}

.examples__item {
    margin-top: 34px;
    margin-bottom: 0px;
    margin-right: 30px;
    width: 370px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;

    &:nth-child(3n+3) {
        margin-right: 0px;
    }

    &:hover {
        box-shadow:
            0px 1px 1px $alt-shadow-color,
            0px 4px 4px $four-shadow-color,
            1px 4px 6px $five-shadow-color;
    }

    .examples__link {
        @extend %link;
    }

    .examples__wrapper {
        position: relative;
        overflow: hidden;
    }

    .examples__description {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 63px;
        padding-right: 24px;
        padding-bottom: 63px;
        padding-left: 24px;
        width: 100%;
        height: 100%;
        background: $transporent-accent;
        font-size: 18px;
        line-height: 1.56;
        color: $white-text-color;
        transform: translateY(100%);
        opacity: 0;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .examples__link:focus &,
        .examples__link:hover & {
            opacity: 1;
            transform: translateY(0%);
        }

        @extend %list;
    }

    .examples__border {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 24px;
        padding-right: 24px;

        border-bottom: 1px solid $border-head-color;
        border-left: 1px solid $border-head-color;
        border-right: 1px solid $border-head-color;
    }

    .examples__lable {
        color: $primary-text-color;

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;

        margin-top: 0px;
        margin-bottom: 0px;
    }

    .examples__text {
        color: $secondary-text-color;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.8;

        margin-top: 0px;
        margin-bottom: 0px;
    }