body {
    margin: 0;
    padding-top: 80px;

    background-color: $head-bg-color;
    color: $primary-text-color;

    font-family: 'roboto';
    letter-spacing: 0.03em;
}

img {
    display: block;
}

textarea {
    resize: none;
}